@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  font-size: 14px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #090b1a;
  font-family: 'Inter', sans-serif;
  color: white;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container {
  margin: 20px;
  height: 100%;
}

.card {
  margin: 50px 0;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1938;
  overflow: hidden;
  border-radius: 10px;
}

.card .card-image-container {
  position: relative;
}

.card .card-image-container .card-image {
  width: 320px;
  height: 250px;
  z-index: auto;
}

.card .card-image-container .card-filter {
  position: absolute;
  background-color: #651796a2;
  width: 320px;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .card-text {
  text-align: center;
  padding: 20px;
}

.card .card-text .card-header {
  padding: 0 25px;
}

.card .card-text h1, .card .card-text h2 {
  color: white;
  font-weight: 700;
}

.card .card-text h1 .h1-violet, .card .card-text h2 .h1-violet {
  color: #aa5cdb;
}

.card .card-text p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  line-height: 25px;
}

.card .card-text .main-paragraph {
  margin-top: 20px;
  padding: 10px;
}

.card .card-text .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin: 25px 0 10px 0;
}

.card .card-text .stat-container p {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 800px) {
  html {
    min-height: auto;
    height: 100%;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 790px;
    border-radius: 5px;
  }
  .card .card-image-container {
    width: 350px;
    height: 320px;
  }
  .card .card-image-container .card-image {
    width: 350px;
    height: 320px;
  }
  .card .card-image-container .card-filter {
    width: 100%;
    height: 100%;
  }
  .card .card-text {
    text-align: left;
    padding: 0 20px 0 30px;
    height: 100%;
  }
  .card .card-text .card-header {
    padding: 0 40px 0 10px;
  }
  .card .card-text h1 {
    font-size: 32px;
  }
  .card .card-text .main-paragraph {
    margin-top: 20px;
    padding: 0 20px 0 10px;
  }
  .card .card-text .stat-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 50px 0 10px;
  }
}

@media (min-width: 1000px) {
  .card {
    width: 850px;
  }
  .card .card-image-container {
    width: 400px;
    height: 350px;
  }
  .card .card-image-container .card-image {
    width: 400px;
    height: 350px;
  }
  .card .card-text {
    padding: 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */