@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$Very-dark-blue-main-background: hsl(233, 47%, 7%);
$Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
$Soft-violet-accent: hsl(277, 64%, 61%);
$White-main-heading-stats: hsl(0, 0%, 100%);
$Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
$image-size: 320px;
$image-size-height: 250px; 
$layer-color: #651796a2;
:root{
    font-size: 14px;
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    overflow: auto;
}
body{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Very-dark-blue-main-background;
    font-family: 'Inter', sans-serif;
    color: white;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-container{
    margin: 20px;
    height: 100%;
}
.card{
    margin: 50px 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Dark-desaturated-blue-card-background;
    overflow: hidden;
    border-radius: 10px;
    .card-image-container{
        position: relative;
        .card-image{
            width: $image-size;
            height: $image-size-height;
            z-index: auto;
        }
        .card-filter{
            position: absolute;
            background-color: $layer-color;
            width: $image-size;
            height: $image-size-height;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    
    .card-text{
        text-align: center;
        padding: 20px;
        .card-header{
            padding: 0 25px;
        }
        h1, h2{
            color: $White-main-heading-stats;
            font-weight: 700;
            
            .h1-violet{
                color: $Soft-violet-accent;
            }
        }
        p{
            color: $Slightly-transparent-white-main-paragraph;
            font-weight: 400;
            line-height: 25px;
        }
        .main-paragraph{
            margin-top: 20px;
            padding: 10px;
        }
        .stat-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            margin: 25px 0 10px 0;
            p{
                color: $Slightly-transparent-white-stat-headings;
                text-transform: uppercase;
            }
        }
    }

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 800px) {
    html{
        min-height: auto;
        height: 100%;
    }
    .card{
        flex-direction: row-reverse;
        width: 790px;
        border-radius: 5px;
        .card-image-container{
            width: 350px;
            height: 320px;
            .card-image{
                width: 350px;
                height: 320px;
            }
            .card-filter{
                width: 100%;
                height: 100%;
            }
        }
        
        .card-text{
            text-align: left;
            padding: 0 20px 0 30px;
            height: 100%;
            .card-header{
                padding: 0 40px 0 10px;
            }
            h1{
                font-size: 32px;
            }
            .main-paragraph{
                margin-top: 20px;
                padding: 0 20px 0 10px;
            }
            .stat-container{
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                padding: 0 50px 0 10px;
            }
        }
    }
    
}

@media (min-width: 1000px) {
    .card{
        width: 850px;
        .card-image-container{
            width: 400px;
            height: 350px;
            .card-image{
                width: 400px;
                height: 350px;
            }
        }
        .card-text{
            padding: 0 30px;
        }
    }
}